
// Breakpoints
$breakpoint-xs: 0; // Extra small devices (phones)
$breakpoint-sm: 640px; // Small devices (tablets)
$breakpoint-md: 768px; // Medium devices (desktops)
$breakpoint-lg: 1024px; // Large devices (desktops)
$breakpoint-xl: 1280px; // Extra large devices (large desktops)
$breakpoint-2xl: 1536px; // Extra large devices (large desktops)
$breakpoint-3xl: 1920px; // Extra large devices (large desktops)

// Media Queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  } @else if $breakpoint == 2xl {
    @media (min-width: $breakpoint-2xl) { @content; }
  } @else if $breakpoint == 3xl {
    @media (min-width: $breakpoint-3xl) { @content; }
  }  
}

.custom-datatable{
    // 검색해더 필터 아이콘 버튼
    .p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-column-filter-button{
        display: none;
    }
    .p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-column-filter-clear-button{
        display: none;
    }
    .p-datatable-sort-icon{
        width: 0.75rem;
        height: 0.75rem;
        vertical-align: baseline;
    }
    .p-datatable-header-cell{
        font-size: 0.875rem;
        padding: 0.5rem;
        .p-inputtext{
            width: 100%;
            }    
        .p-select{
            font-size: 0.875rem;
        }
        .p-select-label{
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            padding-top: 0.468rem;
            padding-bottom: 0.468rem;
        }
    }
}
.custom-drawer{
    width: auto !important;
    padding-right: 1rem;
    .p-drawer-header{
        padding: 0;
        position: absolute;
        top: 4px;
        right: 1rem;
        z-index: 99;
    }

    .p-drawer-content{
        padding: 0 !important;
     }
}

.custom-dialog-bottom.p-dialog{
    // min-height: 100vh;
    margin: 0 !important;
    position: relative;
    border-radius:  0.5rem 0.5rem 0px 0;
    margin-top: 1rem !important;
    width: 100%;
    max-width: calc(100% - 1rem) !important;
    max-height: calc(100% - 1rem) !important;
    height: 100% !important;
    @include respond-to(md) {
        // max-width: calc(100% - 3rem) !important;
        max-width: 500px !important;
        height: auto !important;
        min-height: 80%;
        border-radius:  0.5rem;
    }
    .p-dialog-content{
        padding: 0;
        height: 100%;        
    }
    &.backPopup{
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
        margin-top: 0rem !important;
        border-radius: 0 !important;
        .p-dialog-header{
            padding: 0px;
            
            .p-dialog-close-button{
                display: none;
            }
        }
    }
    .p-dialog-header, .p-drawer-header{
        padding: 0.25rem 20px;
        padding-right: 8px;
        .p-dialog-title , .p-drawer-title{
            font-size: 1rem;
        }
    }
    .p-dialog-maximize-button{
        display: none;
        @include respond-to(md) {
            display: flex;
        }
    }
    .p-dialog.p-component , .p-drawer-content{
        margin: 0;
        min-height: 100vh;
        border-radius:  4px 0px 0px 4px;
        padding: 0;
    }
    
}
.custom-dialog-center{
    .p-dialog-header, .p-drawer-header{
        padding: 0.25rem 20px;
        .p-dialog-title , .p-drawer-title{
            font-size: 13px;
        }
    }
    
}
.custom-popover-listbox{
    .p-popover-content {
        padding:0.275rem;
        border: none !important;
    }
}
.p-listbox{
    border: none !important;;
}

.custom_accordion{
    .p-accordion{
        width: 100%;
    }
    .p-accordionheader{
        padding: 0;
        padding-bottom: 0rem;
        justify-content: end;
    }
    .p-accordionpanel{
        border: none;
    }
    .p-accordioncontent-content{
        padding: 0;
    }
}
.p-tabpanels{
    padding: 0 !important;
}
.p-togglebutton.p-togglebutton-checked{   
    color: var(--p-primary-600) !important;
    font-weight: 600;
}
.p-carousel-item-list{
    .p-carousel-item-start span{
        color:  var(--p-red-500);
    }

    .p-carousel-item-end span{
        color:  var(--p-blue-600);
    }
}
.custom-right-tab{
    .p-tablist-tab-list{
        justify-content: end;
        gap: 1.5rem !important;
        padding-right: 1.5rem;
        border: none;
    }
    .p-tab-active{
        &.p-tab{
            color: var(--p-tabs-tab-active-color);
            border-bottom-width: 3px;
            border-color: var(--p-tabs-tab-active-border-color);
        }
    }
    .p-tab{
        border-bottom-width: 3px;
        padding: 0.5rem 0rem;
        border-color: transparent;
        color: var(--p-tabs-tab-color);
    }
}
.custom-left-tab{
    .p-tablist-tab-list{
        justify-content: start;
        gap: 1.5rem !important;
        // padding-left: 1.5rem;
        border: none;
        
    }
    .p-tab-active{
        &.p-tab{
            color: #404040;
            border-bottom-width: 3px;
            border-color: var(--p-tabs-tab-active-border-color);
            font-weight: 700;
        }
    }
    .p-tab{
        color: #7D7C78 ;
        font-weight: 400;
        border-bottom-width: 3px;
        padding: 0.5rem 0rem;
        border-color: transparent;
        // color: var(--p-tabs-tab-color);
    }
}
.p-inputtext,.p-select,.p-textarea{
    border-radius: 2px !important;
}
.p-iftalabel {
    .p-inputtext,
    .p-textarea,
    .p-select-label,
    .p-multiselect-label,
    .p-autocomplete-input-multiple,
    .p-cascadeselect-label,
    .p-treeselect-label{
      padding-block: 0.78125rem !important;
      padding-inline: 0.875rem !important;
      border-radius: 2px !important;
      font-size: 0.8125rem;
      line-height: 0.9375rem;
      height: 2.5rem;
      &::placeholder{
        color: #C1C1C1;
        font-weight: 400;
      }
    }
    .p-textarea{
        height: auto !important;
    }
    .p-select{
      border-radius: 2px !important;
    }
  }
.p-iftalabel .p-inputnumber{
    border-radius: 2px !important;
}
.p-iftalabel label{
    top: -0.375rem !important;
    background-color: white !important;
    width: auto;
    left: 0.375rem !important;
    font-size: 0.625rem !important;
    color: #999999 !important;
}
.p-iftalabel .p-inputicon{
    top: 50% !important;
    transform:translateY(-50%) !important;
}
.p-inputtext{
    padding-block: var(--p-inputtext-padding-y);
    box-shadow: none !important;
}
.p-inputnumber-horizontal {
    
    .p-inputnumber-increment-button{
        border-start-end-radius: 2px !important;
        border-end-end-radius: 2px !important;
        width: 24px !important;
    }   
    .p-inputnumber-decrement-button{
        border-start-start-radius: 2px !important;
        border-end-start-radius: 2px !important;
        width: 24px !important;
    }

    .p-inputnumber-button{
        >.pi{
            font-size: 12px;
            font-weight: 900;
            color: var(--p-gray-900);
        }
    }
}
.custom-center-number{
    .p-inputnumber-input{
        font-weight: 700;
        text-align: center;
    }
}

.p-button{
    border-radius: 2px !important;
    padding-block:0.640625rem !important;
    .p-button-label{
        font-weight: 600 !important;
        font-size: 13px;
        
    }
    &.p-button-sm{
        padding-block: 0.1875rem !important;
        padding-inline:0.5rem !important;
        .p-button-label{
            font-size: 0.75rem !important;
        }
        
    }
    &.p-button-secondary{
        background-color: #EBEBEB;
        color: #7D7C78;
        .p-button-label{
            color: #7D7C78;
            font-size: 0.75rem 
        }
    }
}

.p-button-help{
    background: #DBB071 !important;
    border: 1px solid #DBB071 !important;
}

.p-button-rounded{
    border-radius: 9999px !important;
}

.p-confirmdialog{
    min-width: 300px ;
}
:root{
    --p-form-field-padding-y:0.5rem !important
}
.custom-circle-check{
    flex: none;
    width: 1.625rem !important;
    height: 1.625rem !important;
    .p-checkbox-box{
        border-radius: 99999px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.625rem !important;
        height: 1.625rem !important;
        svg{
            display: none;
        }
        &::after{
        content: '';    
        display: block;
        background-color: #ffffff;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 9999999px !important;
        }
    }
    input{
    
    }
}
.mini_select{
    input{
        border: none !important;
    }
    svg{
        opacity: 0;
    }
}
.mini_input{
    
    border: 0;
}
.p-iconfield .mini_inpu.p-inputtext:not(:first-child){
    padding-inline-start: 35px !important;
}

.custom-datapicker{
    // 테이블 데이트 피크

    &.p-datepicker{
        &.bg-gray{
            .p-datepicker-input{
                background-color: var(--p-gray-100);
                border-radius: 2px !important;    
            }
        }
        .p-datepicker-input{
            border-radius: 99999px !important;
            font-size: 0.875rem;
            padding-top: 0.325rem;
            padding-bottom:  0.325rem;
            padding-left: 0.75rem !important;
            padding-right: 0px;
            border: 0px !important;
        }
        .p-datepicker-input-icon-container{
            height: 16px;
            width: 16px;
            padding-top: 1px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px !important;
        }
    }
}
:root{
    --p-tabs-tab-active-color:#404040;
}
.row_input{
    height: 40px;
    .p-inputtext{
    height: 40px !important;
    }
    &.p-inputtext{
        font-size: 0.875rem;
    }
}
.gray_input{
    .p-inputtext{
        background-color: #F6F6F6;
        border: none;
        font-size: 0.75rem;
        height: 40px;
        &:not(:first-child){
            padding-inline-start: 2.1875rem !important;
        }
        &::placeholder{
            color: #7D7C78
        }
    }
    .p-inputicon{
        .pi{
            font-size: 0.75rem;
            color: #7D7C78
        }
    }
}
.custom-select-arrow{
    display: flex;
    position: relative;
    width: 100%;
    gap: 0.5rem;
    z-index: 10;
    // border: 1px solid var(--p-gray-200);
    height: 2.5rem;
    &.gray-select{
        background-color: #F6F6F6;
    }
    div{
    background: transparent;

    }
    .p-select-dropdown-icon{
        display: none;
    }
}
.p-toggleswitch{
    // width: 40px !important;
    // height: 22px !important;
    .p-toggleswitch-handle{
        width: 18px;
        height: 18px;
        // margin-block-start: 1px;
    }
}
:root{
    --p-toggleswitch-handle-size:1.125rem !important;
    --p-toggleswitch-gap:0.125rem !important;
    --p-toggleswitch-background:#BBBBBB !important
    

}