@use 'sass:math';

$root-font-size: 16px !default;
// px -> rem
@function rem($value, $base: $root-font-size) {
    $px-value: if(math.unit($value) == 'px', $value, $value * 1px);
    $px-base: if(math.unit($base) == 'px', $base, $base * 1px);
    @return math.div($px-value, $px-base) * 1rem;
}

// Breakpoints
$breakpoint-xs: 0; // Extra small devices (phones)
$breakpoint-sm: 640px; // Small devices (tablets)
$breakpoint-md: 768px; // Medium devices (desktops)
$breakpoint-lg: 1024px; // Large devices (desktops)
$breakpoint-xl: 1280px; // Extra large devices (large desktops)
$breakpoint-2xl: 1536px; // Extra large devices (large desktops)
$breakpoint-3xl: 1920px; // Extra large devices (large desktops)

// Media Queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  } @else if $breakpoint == 2xl {
    @media (min-width: $breakpoint-2xl) { @content; }
  } @else if $breakpoint == 3xl {
    @media (min-width: $breakpoint-3xl) { @content; }
  }  
}

.custom-datatable{
    // 검색해더 필터 아이콘 버튼
    .p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-column-filter-button{
        display: none;
    }
    .p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-column-filter-clear-button{
        display: none;
    }
    .p-datatable-sort-icon{
        width: 0.75rem;
        height: 0.75rem;
        vertical-align: baseline;
    }
    .p-datatable-header-cell{
        font-size: 0.875rem;
        padding: 0.5rem;
        .p-inputtext{
            width: 100%;
            }    
        .p-select{
            font-size: 0.875rem;
        }
        .p-select-label{
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            padding-top: 0.468rem;
            padding-bottom: 0.468rem;
        }
    }
}
.ourorder-radio{
    .p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:focus) .p-radiobutton-box{
        border: 5px solid #22c55e !important;
    }
    .p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:hover) .p-radiobutton-box{
        border: 5px solid #22c55e !important;
    }
}

.p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:hover) .p-radiobutton-box{
    border: 5px solid #00AEF2 !important;
}

.p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:focus) .p-radiobutton-box{
    border: 5px solid #00AEF2 !important;
}


.custom-drawer{
    width: auto !important;
    padding-right: 1rem;
    .p-drawer-header{
        padding: 0;
        position: absolute;
        top: 4px;
        right: 1rem;
        z-index: 99;
    }

    .p-drawer-content{
        padding: 0 !important;
     }
}

.custom-dialog-full{
    max-height: 100% !important;
}

.custom-dialog-full.p-dialog{
    width: 100%;
    height: 100% !important;
    border: none !important;

    .p-dialog-close-button{
        display: none;
    }
    .p-dialog-header{
        padding: 0;
    }
    .p-dialog-content{
        padding: 0px;
        @include respond-to(md) {
        }
    }
}

.editPopup-wrap {
    background-color: transparent !important;
    justify-content: flex-end !important;
    .editPopup {
        margin: rem(16) !important;
    }
}
.editPopup {
    width: 246px;
    //width: calc(100% - 2rem);
    box-shadow: 6px 16px 40px rgba(0, 0, 0, 0.30) !important;
    overflow: hidden;
    border: 0.5px solid #E5E5EC;
    border-radius: 20px !important;
    max-width: 660px !important;
    .p-dialog-header{
        padding: 0 !important;
    }
    .p-dialog-content{
        padding: 0 !important;
        overflow: hidden;
    }
    .p-dialog-close-button{
        display: none;
    }

}
@media (min-width: $breakpoint-sm) {
    .editPopup-wrap {
        justify-content: center !important;
    }
    .editPopup {
        width: 660px;
    }
}

.edit-select {
    &.p-select {
        height: rem(22);
        border-radius: 9999px !important;
        .p-select-label {
            padding: 0 !important;
            padding-block: rem(3) !important;
            padding-inline: rem(8) !important;
            color: var(--t-lv1) !important;
            font-size: rem(10);
            font-weight: 700 !important;
            line-height: rem(18);
        }
    }    
}

.custom-dialog-full.p-dialog
,.custom-dialog-bottom.p-dialog{
    // min-height: 100vh;
    margin: 0 !important;
    position: relative;
    border-radius:  0.5rem 0.5rem 0px 0;
    border: none !important;
    overflow: hidden;
    width: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 100% !important;
    border-radius: 0;

    @include respond-to(md) {
        // width: calc(100% - 3rem) !important;
        max-width: 660px !important;
        // max-width: 500px !important;
        height: 90% !important;
        min-height: 80%;
        border-radius:  0.5rem;
                
    }
    .p-dialog-close-button{
        display: none;
    }
    .p-dialog-content{
        padding: 0;
        height: 100%;        
    }
    &.backPopup{
        width: 100%;
        height: 100%;
        max-width: 660px !important;
        max-height: 100% !important;
        margin-top: 0rem !important;
        border-radius: 0 !important;

        @media screen and (min-width: 670px) {
            border-radius: 8px !important;
            overflow: hidden;
        }
        .p-dialog-header{
            padding: 0px;
            
            .p-dialog-close-button{
                display: none;
            }
        }
    }
   
    
   
    .p-dialog-header, .p-drawer-header{
       padding: 0;
        @include respond-to(md) {
            // padding: 0 24px;
        }
        .p-dialog-title , .p-drawer-title{
            font-size: 1rem;
        }

    }
    .p-dialog-maximize-button{
        display: none;
        @include respond-to(md) {
            display: flex;
        }
    }
    .p-dialog.p-component , .p-drawer-content{
        margin: 0;
        min-height: 100vh;
        border-radius:  4px 0px 0px 4px;
        padding: 0;
    }
    
}

.custom-dialog-center{
    //width: calc(100% - 2rem);
    width: 246px;
    max-width: 660px;
    .p-dialog-header, .p-drawer-header{
        padding: 0.25rem;
        width: 100%;
        .p-dialog-title , .p-drawer-title{
            font-size: 13px;
        }
    }
    .p-dialog-close-button{
        display: none;
    }
    
    
}

.custom-dialog-util-wrap {
    .p-dialog.custom-dialog-util {
        width: 100%;
        min-height: rem(100);
        margin: 0 !important;
        border-radius: rem(16) rem(16) 0 0 !important;
        overflow: hidden;
        .p-dialog-header, .p-drawer-header{
            padding: 0;
            display: none;
        }
        .p-dialog-content {
            padding: 0;
        } 
    }
    @media (min-width: $breakpoint-sm) { 
        align-items: center !important;
        .p-dialog.custom-dialog-util {
            width: rem(480);
            border-radius: rem(12) !important;
        }
    }
}
.custom-dialog-util {
    .v3-emoji-picker {
        width: 100%;
        height: rem(400);
        box-shadow: none;
        .v3-emojis button {
            font-size: rem(24) !important;
            flex-basis: calc(100% / 7) !important;
            max-width: calc(100% / 7) !important;
            @at-root html.ios & {
                font-size: rem(28) !important;
            }
            @media (min-width: $breakpoint-sm) { 
                flex-basis: 10% !important;
                max-width: 10% !important;
            }
        }
    }
}

.color-chips {
    .chip {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: rem(6);
        cursor: pointer;
    }
}

.custom-popover-listbox{
    .p-popover-content {
        padding:0.275rem;
        border: none !important;
        .p-listbox-list-container {
            font-size: 1rem;
        }
    }

}

.custom-logout.p-popover {
    top: 31px !important;
}

.p-listbox{
    border: none !important;;
}

.custom_accordion{
    .p-accordion{
        width: 100%;
    }
    .p-accordionheader{
        padding: 0;
        padding-bottom: 0rem;
        justify-content: end;
    }
    .p-accordionpanel{
        border: none;
    }
    .p-accordioncontent-content{
        padding: 0;
    }
}
.p-tabpanels{
    padding: 0 !important;
}
.p-togglebutton.p-togglebutton-checked{   
    color: var(--p-primary-600) !important;
    font-weight: 600;
}
.p-carousel-item-list{
    .p-carousel-item-start span{
        color:  var(--p-red-500);
    }

    .p-carousel-item-end span{
        color:  var(--p-blue-600);
    }
}
.custom-right-tab{
    .p-tablist-tab-list{
        justify-content: end;
        gap: 1.5rem !important;
        // padding-right: 1.5rem;
        border: none;
    }
    .p-tab-active{
        &.p-tab{
            color: var(--p-tabs-tab-active-color);
            border-bottom-width: 3px;
            border-color: var(--p-tabs-tab-active-border-color);
        }
    }
    .p-tablist-active-bar {
        display: none;
    }
    .p-tab{
        // border-bottom-width: 3px;
        padding: 0.5rem 0rem;
        border-color: transparent;
        color: var(--p-tabs-tab-color);
    }
}
.custom-customer-tab {
    .p-tablist {
        padding: rem(6);
        .p-tablist-tab-list {
            gap: rem(6);
            border: 0;
            align-items: center;
        }
        .divider {
            display: block;
            width: 1px;
            height: rem(40);
            background-color: color-mix(in srgb, var(--l-lv4), white 50%);
        }
        .p-tab {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: rem(7) 0 rem(9);
            border: 0;
            border-radius: rem(4);
            color: var(--t-lv2);
            font-weight: 500;
            .count {
                color: var(--p-lv2);
                font-weight: 700;
            }
            &.p-tab-active {
                color: var(--p-lv2);
                font-weight: 700;
                background-color: color-mix(in srgb, var(--p-lv5), white 35%);
            }
        }
        .p-tablist-active-bar{
            display: none;
        }
    }
    .p-tabpanels{}
}
.custom-left-tab{
    .p-tablist-tab-list{
        justify-content: start;
        gap: 1.5rem !important;
        // padding-left: 1.5rem;
        border: none;
        
    }
    .p-tab-active{
        &.p-tab{
            // transition: 0.5s;
            color: #404040;
            border-bottom-width: 3px;
            border-color: var(--p-tabs-tab-active-border-color);
            font-weight: 700;
        }
    }

    .p-tablist-active-bar {
        display: none;
    }
    .p-tab{
        color: #7D7C78 ;
        font-weight: 400;
        border-bottom-width: 3px;
        padding: 0.5rem 0rem;
        border-color: transparent;
        // color: var(--p-tabs-tab-color);
    }
}


// 이게 작동하는거

.p-iconfield .p-inputtext:not(:first-child) {
    //font-size: 12px;
    &::placeholder{
        //font-size: 12px;
    }
    @include respond-to(md){
        //font-size: 14px;
        &::placeholder{
            //font-size: 14px;
            //font-weight: 300;
        }
    }
}

.p-select-label {
    &::placeholder {font-size: 14px;}
}

.p-button-text.p-button-contrast {
    width: 20px;
}
.p-button-text:not(.p-button-outlined) {
    border: 0 !important;
}

.input-custom {
    .p-inputtext {
        padding: 5px 10px !important;
    }
}

.p-select-list-container{
    font-size: 13px !important;
}



// Form 정리
.p-inputtext,
.p-textarea,
.p-select-label,
.p-multiselect-label,
.p-autocomplete-input-multiple,
.p-cascadeselect-label,
.p-treeselect-label{
    color: #404040; //t-lv1
    padding-block: 0.75rem !important;
    padding-inline: 0.625rem;
    border-radius: 0.125rem !important;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
    height: 2.5rem;
    box-shadow: none !important;
    &.text-lg {
        color: #000 !important;
        font-weight: 700 !important;
        font-size: 1rem !important;
    }
    &.text-sky-500 {
        color: #00aef2 !important;
    }
    &.text-blue-500 {
        color: #409AFF !important;
    }
    &.text-red-500 {
        color: #FF453A !important;
    }
    &.p-placeholder,
    &::placeholder {
        color: #C1C1C1; //t-lv4
    }
    &.p-component {
        color: #404040;
        font-size: 0.875rem;
        padding-inline: 0.625rem;
    }
}
.input-number-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .p-button {
        position: relative;
        width: 1.5rem !important;
        height: 2.5rem;
        flex-shrink: 0;
        padding: 0;
        border-radius: 0 !important;
        background-color: #fff;
        border-color: var(--p-inputtext-border-color);
        .pi {
            font-size: 12px;
            font-weight: 900;
            color: var(--p-gray-900);
        }
        &.decrement {
            margin-right: -1px;
        }
        &.increment {
            margin-left: -1px;
        }
        &:hover, &:focus {
            z-index: 2;
            background-color: var(--p-inputnumber-button-hover-background) !important;
            border-color: var(--p-inputnumber-button-hover-border-color) !important;
        }
    }
    .p-inputnumber {
        position: relative;
        z-index: 1;
    }
}
.p-inputnumber {
    &.text-lg {
        .p-inputnumber-input {
            font-weight: 700 !important;
            font-size: 1rem !important;
        }
    }
    &.text-sky-500 {
        .p-inputnumber-input {
            color: #00aef2 !important;
        }
    }
    &.text-blue-500 {
        .p-inputtext {
            color: #409AFF !important;
        }
    }
    &.text-red-500 {
        .p-inputnumber-input {
            color: #FF453A !important;
        }
    }
    &.p-inputnumber-horizontal {
        .p-inputnumber-button {
            width: 1.5rem !important;
            .pi {
                font-size: 12px;
                font-weight: 900;
                color: var(--p-gray-900);
            }
        }
        .p-inputnumber-increment-button {
            border-start-end-radius: 0.125rem !important;
            border-end-end-radius: 0.125rem !important;
        } 
        .p-inputnumber-decrement-button {
            border-start-start-radius: 0.125rem !important;
            border-end-start-radius: 0.125rem !important;
        }
        .p-inputnumber-input {
            border-radius: 0 !important;
            text-align: center;
            font-weight: 700;
            &:not(:only-child) {
                padding-inline: 0 !important;
            }
        }
    }
    .p-inputnumber-input:only-child {
        width: 100%;
    }
    &.inputNumber-color {
        .p-inputnumber-input {
            padding-right: 1.5rem !important;
        }
        &.text-lg {
            .p-inputtext {
                font-weight: 700 !important;
                font-size: 1rem !important;
            }
            &.text-red-500 {
                .p-inputtext {
                    color: #FF453A !important;
                }
            }
            &.text-blue-500 {
                .p-inputtext {
                    color: #409AFF !important;
                }
            }
        }
        &.width-full {
            .p-inputtext {
                width: 100%;
            }
        }
    }
}
.input-set {
    position: relative;
    height: 2.5rem;
    .p-inputtext {
        
    }
    .unit {
        font-size: 0.75rem;
        font-weight: 400;
    }
    &.has-unit {
        .p-inputtext {
            padding-right: 1.375rem !important;
            text-align: right;
        }
        .unit {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.625rem;
            margin-top: 0.0625rem;
        }
    }
}
.p-select {
    box-shadow: none !important;
    border-radius: 0.125rem !important;
    .p-select-dropdown {
        width: 1rem;
        justify-content: start;
        margin-right: 0.3755rem !important;
    }
    .p-select-label {
        color: #7D7C78 !important;; //t-lv2
        margin-top: -2px;
        padding-block: calc(0.75rem + 1px) !important;
        white-space: nowrap;
        text-overflow: initial;
    }
    &.text-lg {
        .p-select-label {
            color: #000 !important;
            font-weight: 700 !important;
            font-size: 1rem !important;
        }
    }
    &.bg {
        background-color: #F6F6F6;
        border: 0;
        .p-select-label {
            color: #7D7C78; //t-lv2
            margin-top: 0;
            padding-block: 0.75rem !important;
        }
    }
}
.p-iconfield {
    &.bg {
        .p-inputtext {
            border: 0;
            background-color: #F6F6F6;
            &::placeholder {
                color: #7D7C78;
            }
        }
    }
    .p-inputicon {
        &:first-child {
            inset-inline-start: 0.625rem !important;
        }
        & + .p-inputtext {
            padding-left: 2rem !important;
        }
    }
}
.p-textarea {
    font-size: rem(13);
    &:not(.p-textarea-resizable) {
        height: auto !important;
    }
    &.p-textarea-resizable {
        min-height: rem(40);
        padding-inline: rem(14);
        color: var(--t-lv2);
        font-size: rem(13);
        line-height: 1.34;
        &:read-only {
            padding-inline: 0;
            padding-block: 0 !important;
            border: 0;
        }
    }
}

.p-textarea.p-placeholder{
    font-size: 12px;
}
.msg-input-custom {
    &.p-textarea{
    padding-block: rem(16);
    padding-inline: rem(16);
    padding-bottom: rem(60) !important;
    border-radius: rem(2);
    color: #404040;
    font-size: rem(13);
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid var(--p-textarea-border-color);
    outline: 0;
    &:hover, &:focus {
        border-color: var(--p-textarea-focus-border-color);
    }
}
}
.tag-shop, .tag-name {
    display: inline-block;
    margin: rem(2) rem(1);
    padding: rem(6) rem(7) rem(5) rem(8);
    font-size: rem(12);
    font-weight: 700;
    line-height: 1;
    border-radius: 9999em;  
} 
.tag-shop {
    color: #6AB2BE;
    background-color: #E5F7FB;
}
.tag-name {
    color: #DBB071;
    background-color: #FCF2E6;
}

.p-iftalabel {
    label{
        z-index: 10 !important;
        top: -0.375rem !important;
        background-color: white !important;
        width: auto;
        left: 0.375rem !important;
        font-size: 0.625rem !important;
        color: #999999 !important;
        &.accent {
            color: #404040 !important;
            font-weight: 700;
        }
    }
  }
.p-iftalabel .p-inputicon{
    top: 50% !important;
    transform:translateY(-50%) !important;
}


.text-msg {
    //display: block;
    margin-top: 0.5rem;
    color: #FF453A;
    font-size: 0.6875rem;
    line-height: 1.2;
    //white-space: nowrap;
}

.custom-center-number{
    .p-inputnumber-input{
        font-weight: 700;
        text-align: center;
    }
}

.btn-2-layout-box {
    .p-button {
        border: none;
         padding: 10px;
        .p-button-label {
            font-size: 0.8175rem;
        }
    }
}
.conbutton {
    .p-button {
        padding: 13.5px;
    }
}

.order-button {
    width: 100%;
    .p-button{
        padding-block: 13.5px !important;
        .p-button-label {
            font-size: 0.8175rem !important;
        }
    }
}



.register-button {
    .p-button {
        background-color: #409AFF !important;
        padding: 16px 18px !important;
        border-radius: 4px !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
        .p-button-label{
            font-weight: 800 !important;
            font-size: 0.8175rem;
        }
    }
}

.p-button.print-btn{
    padding: 8px 6px !important;
    .p-button-label{
        font-size: 0.75rem;
        font-weight: 800 !important;
    }
}

.bottom-fixed-btn-box {
    .p-button.p-button-secondary .p-button-label {
        border: none;
        color: #000000;
    }
}

.change-button {
    .p-button.p-button-sm {
        padding: 6px !important;
        border-radius: 2px;
        border: none;
    }
}

.list-button {
    .p-button-label{
        font-size: 0.8175rem !important;
    }
}

.esti-button {
    .p-button {
       padding: 6px !important;
    }
}

.danger-button {
    .p-button.p-button-sm {
        padding: 4px !important;
        border-radius: 2px !important;
    }
}

.accbutton{
    .p-button.p-button-secondary {
        padding: 10px;
        .p-button-label{
            font-size: 0.6875rem;
        }
    }
}

.product-button {
    .p-button.p-button-sm {
        padding: 6px 8px !important;
        border: none;
        .p-button-label {
            font-weight: 700 !important;
        }
    }
}



.facadd-button {
    .p-button{
        border-radius: 4px !important;
        .p-button-label{
            font-size: 0.8175rem;
        }
    }
    pointer-events: auto;
    z-index: 50;
}

.p-button-outlined.p-button-danger {
    padding: 5px !important;
    .p-button-label{
        font-weight: 600 !important;
        font-size: 11px;
        
    }
}

.alert-button {
    .p-button.p-button-sm {
        padding: 6px 8px !important;
    }
}

.login-button {
    .p-button {
        .p-button-label{
            font-size: 0.875rem;
        }
    }
}



.success-button{
    .p-button.p-button-success{
        padding: 14px;
    }
}

.outmng-button{
    .p-button{
        .p-button-label{
            font-size: 0.8175rem !important;
        }
    }
}

.add-button {
    .p-button{
        padding-block: 14px;
        .p-button-label{
            font-size: 13px;
        }
    }
}

.next-button{
    .p-button{
        padding-block: 12px;
    }
    .p-button-label{
        font-size: 0.875rem !important;
    }
}

.bottom-modal-absol-box {
    .p-button{
        padding: 0.9375rem 0;
        //border: none;
        .p-button-label{
            font-size: 0.9375rem;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0.02em;
        }
    }
}
.bottom-fixed-btn-box {
    .p-button{
        padding: 0.9375rem 0 !important;
        //border: none;
        .p-button-label{
            font-size: 0.9375rem;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0.02em;
        }
    }
}

.mobile-fiex-bottom {
    .p-button{
        padding-block: 13.5px;
        border: none;
    }
}

// 버튼 정리
.p-button {
    // /border: 0 !important;
    border-radius: 0.125rem !important;
    &.rounded-full {
        border-radius: 9999px !important; 
    }
    &:hover {
        //border: 0 !important;
    }
    .p-button-label{
        font-weight: 500;
        line-height: 1.5;
    }
    &.p-button-lg {
        padding-top: rem(12);
        padding-bottom: rem(12);
        .p-button-label{
            font-weight: 700;
        }
    }
    &.p-button-sm {
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        .p-button-label{
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 1.167;
        }
    }
    &.p-button-secondary{
        background-color: #ebebeb;
        color: #7D7C78;
        border: none;
        // padding-block: 14px;
        .p-button-label{
            color: #000000;
            font-weight: 700 !important;
            font-size: 0.8125rem;
        }
     
    }
    &.outlined-button{
        background-color: #ffffff;
        border: 1px solid #E4E5E9;
        border-radius: 4px !important;
        padding: 6px 16px !important;
        .p-button-label{
            font-weight: 400 !important;
            font-size: 12px;
            
        }
    }
    &.btn-md {
        padding: 0.6875rem 0.625rem;
        .p-button-label{
            font-size: 0.875rem;
            line-height: 1rem;
        }
    }
    &.btn-xs {
        padding: 0.375rem 0.5rem calc(0.375rem - 1px);
        .p-button-label{
            font-weight: 700;
            font-size: 0.6875rem;
            line-height: 0.75rem;
        }
    }
}

.p-button-secondary:not(:disabled):hover{
    background-color: #e2e8f0;
    border: none !important;
}
.p-button:not(.p-button-outlined):hover {
    //border: none !important;
}

.p-button-help{
    background: #DBB071 !important;
    border: 1px solid #DBB071 !important;
}

.p-button-rounded{
    border-radius: 9999px !important;
}
:root{
    --p-form-field-padding-y:0.5rem !important
}
.custom-circle-check{
    flex: none;
    width: 1.625rem !important;
    height: 1.625rem !important;
    .p-checkbox-box{
        border-radius: 99999px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.625rem !important;
        height: 1.625rem !important;
        svg{
            display: none;
        }
        &::after{
        content: '';    
        display: block;
        background-color: #ffffff;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 9999999px !important;
        }
    }

}

.mini_select{
    .p-select{
        background-color: #F6F6F6;
    }
    input{
        border: none !important;
    }
    svg{
        // opacity: 0;
    }
    .p-placeholder{
    font-size: 0.625rem !important;
    color: #7D7C78 !important;
    font-weight: 400;
    }
    .p-select-label{
        padding-right: 5px;
    }
    .choice-select{
        .p-select-label{
            font-size: 0.75rem;
            display: flex;
            align-items: center;
        }
    }
}

.mini_input{
    border: 0;
    background-color: #F6F6F6 !important;
    display: flex;
    align-items: center;
    ::placeholder{
    color: #7D7C78 !important;
    font-size: 0.625rem !important;
    }
    .p-inputtext {
        // padding-top: 10px;
        // padding-bottom: 10px;
        background-color: #F6F6F6;
        padding-block: 0;
        ::placeholder{
            color: #7D7C78 !important;
        }
        
    }
}

.choice-input{
    display: flex;
    align-items: center;
}

.choice-input::placeholder {
    font-size: 0.75rem !important;
}

// .p-iconfield .p-inputtext:not(:first-child){
//     color: #7D7C78 !important; 
//     ::placeholder{
//         color: #7D7C78 !important;
//     }
// }
.p-iconfield .mini_input.p-inputtext:not(:first-child){
    // padding-inline-start: 35px !important;
    font-size: 0.75rem;
}


// Datepicker
.custom-datapicker{
    // 테이블 데이트 피크
    
    &.p-datepicker{
        &.bg-gray{
            .p-datepicker-input{
                border-radius: 2px !important; 
                font-size: 0.6175rem;   
            }
        }
        .p-datepicker-input{
            background-color: white !important;
            border-radius: 99999px !important;
            font-size: 0.6175rem !important;
            padding-top: 0.325rem;
            padding-bottom:  0.325rem;
            padding-left: 0.75rem !important;
            padding-right: 0px;
            border: solid 1px #e4e5e9 !important;
        }
        .p-datepicker-input-icon-container{
            height: 16px;
            width: 16px;
            padding-top: 1px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px !important;
        }
    }
}
.acc-datepicker {
    .p-datepicker {
        width: 6rem;
        .p-datepicker-input {
            // font-size: 0.75rem !important;
            background-color: var(--p-gray-100);
            border: none;
        }
    }
}
.basic-datepicker {
    &.p-datepicker{
        .p-inputtext {
            background-color: var(--bg-lv2);
            border-color: var(--bg-lv2);
            color: var(--t-lv2);
            font-size: rem(13);
            height: rem(40) !important;
        }
        .p-datepicker-input-icon-container {
            color: var(--t-lv2);
        }
    }
}

:root{
    --p-tabs-tab-active-color:#404040;
}

.custom-select-arrow{
    display: flex;
    position: relative;
    width: 100%;
    gap: 0.5rem;
    z-index: 10;
    // border: 1px solid var(--p-gray-200);
    height: 2.5rem;
    &.gray-select{
        background-color: #F6F6F6;
    }
    div{
    background: transparent;

    }
    .p-select-dropdown-icon{
        display: none;
    }
}
.p-toggleswitch{
    display: block !important;
    //width: rem(40) !important;
    //height: rem(24) !important;
    .p-toggleswitch-handle{
        //width: rem(18);
        //height: rem(18);
        left: rem(3);
        inset-inline-start: rem(3);
    }
    &.p-toggleswitch-checked {
        .p-toggleswitch-handle {
            left: rem(19) !important;
            inset-inline-start: rem(19) !important;
        }
    }
}
.custom-toggle{
    .p-toggleswitch-handle{
        //top: 53% !important;
        //left: 10% !important;
    }
}

:root{
    --p-toggleswitch-handle-size:1.125rem !important;
    --p-toggleswitch-gap:0.125rem !important;
    --p-toggleswitch-background:#BBBBBB !important
    

}

// Toggle Group
.toggle-group-box {
    position: relative;
    border-radius: 0.125rem;
    border: 1px solid var(--p-select-border-color);
    .title {
        position: absolute;
        top: -0.5625rem !important;
        left: 0.375rem !important;
        display: inline-block;
        padding: 0 1px;
        background-color: #fff;
    }
}
.toggle-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0 0.75rem;
    justify-content: flex-end;
    label {
        padding: 0 0.25rem;
        line-height: 100%;
        text-align: center;
    }
    .p-toggleswitch {
        display: block;
        position: relative;
        width: 2.5rem;
        height: 1.25rem;
        .p-toggleswitch-slider {
            display: block;
            box-shadow: none;
            transition: none;
            height: 1.25rem;
        }
        .p-toggleswitch-handle {
            width: 0.875rem;
            height: 0.875rem;
            margin-block-start: 0;
            transform: translateY(-50%);
            left: 0.1875rem;
            inset-inline-start: 0.1875rem;
        }
        &.p-toggleswitch-checked {
            .p-toggleswitch-handle {
                left: 1.4375rem !important;
                inset-inline-start: 1.4375rem !important;
            }
        }
        &:not(.p-toggleswitch-checked) {
            .p-toggleswitch-slider {
                border: 1px solid #605E5C !important;
                background-color: #F3F2F1 !important;
            }
            .p-toggleswitch-handle {
                border: 1px solid #605E5C !important;
                background-color: transparent !important;

            }
        }
    }
}

// Dialog
.p-dialog {
    &.p-confirmdialog {
        width: calc(100% - 2rem);
        min-width: rem(300);
        border-radius: 0.5rem;
        @media (min-width: $breakpoint-sm) {
            width: rem(400);
        }
        .p-dialog-header {
            padding-top: 1rem;
            padding-bottom: 1rem;
            .p-dialog-title {
                font-size: 1rem;
                font-weight: 600;
            }
            .p-dialog-header-actions {
                margin: -0.25rem -0.75rem 0 0;
            }
        }
        .p-dialog-content {
            .p-confirmdialog-message {
                font-size: 0.875rem;
            }
        }
        .p-dialog-footer {
            .p-button {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                .p-button-label {
                    color: #404040;
                    font-size: 0.875rem;
                    font-weight: 500 !important;
                }
                &.p-confirmdialog-accept-button {
                    .p-button-label {
                        color: #fff;
                    }
                }
            }
        }
    }
    &.custom-dialog-center {
        .p-dialog-content {
            padding-left: rem(16);
            padding-right: rem(16);
        }
    }
}

// Info List : 공장 상세, 
.info-list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    @media (min-width: $breakpoint-sm) {
        gap: rem(12);
    }
    .info-set {
        display: flex;
        align-items: center;
        &.v-top {
            align-items: start;
        }
        .title {
            width: rem(80);
            flex-shrink: 0;
            color: var(--t-lv2);
            font-size: rem(13);
            //font-weight: 500;
            line-height: 1.38;
        }
        .desc {
            flex: 1;
            color: var(--t-lv1);
            font-size: rem(13);
            //font-weight: 500;
            line-height: 1.38;
            address {
                font-style: normal;
            }
        }
    }
    @media (min-width: $breakpoint-sm) { 
        .info-set {
            .title {
                width: rem(100);
                font-size: rem(14);
            }
            .desc {
                font-size: rem(14);
            }
        }
    }
}

// 기타
.imoji-shadow {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.20);
}

.btn-select {
    width: auto !important;
    gap: rem(4) !important;
    padding-right: rem(8) !important;
    border: 0 !important;
    color: var(--l-lv0) !important;
    line-height: 1;
    align-items: flex-end;
    &:hover, &:focus {
        background-color: transparent !important;
        //background-color: var(--bg-lv2) !important;
    }
    .emoji-size {
        font-size: rem(30);
        @at-root html.ios & {
            font-size: rem(30);
        }
        @at-root html.android & {
            font-size: rem(26);
        }
    }
}


.p-selectbutton {
    .p-togglebutton {
        padding: rem(8) rem(12);
        font-size: rem(13);
    }
    .p-togglebutton-label {
        white-space: nowrap;
    }
    .p-togglebutton-checked {
        .p-togglebutton-label {
            font-weight: 700;
            color: var(--p-lv4);
        }
    }
}

.contract-table {
    width: 100%;
    border-top: 1px solid var(--l-lv2);
    border-bottom: 0.75px solid var(--l-lv2);
    thead {
        th {
            padding-top: rem(12);
            padding-bottom: rem(10);
            border-bottom: 0.75px solid var(--l-lv2);
        }
    }
    tbody {
        tr:not(:last-child) {
            th, td {
                border-bottom: 1px solid var(--l-lv4);
            } 
        }
        th, td {
            padding-top: rem(16);
            padding-bottom: rem(24);
        }
    }
    th, td {
        font-size: rem(12);
        font-weight: 700;
        line-height: 1.34;
        vertical-align: top;
        @media (min-width: $breakpoint-sm) { 
            font-size: rem(14);
        }
    }
}
